<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beverage_booker_staff">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Staff_App.Activities.ManageStaffActivity"></activity>
        <activity android:name=".Staff_App.Activities.CreateStaffActivity" />
        <activity android:name=".Staff_App.Activities.InventoryActivity" />
        <activity android:name=".Staff_App.Activities.DeliveriesActivity" />
        <activity android:name=".Staff_App.Activities.MainMenuActivity" />
        <activity android:name=".Staff_App.Activities.BrowseMenuActivity" />
        <activity android:name=".Staff_App.Activities.ViewCartItemsActivity">

            <!-- android:parentActivityName=".Staff_App.Activities.ViewActiveOrdersActivity" -->
        </activity>
        <activity android:name=".Staff_App.Activities.ViewActiveOrdersActivity" />
        <activity android:name=".Staff_App.Activities.ItemTypeSelectionActivity" />
        <activity android:name=".Staff_App.Activities.ItemFormActivity" />
        <activity android:name=".Staff_App.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>